<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">    <!--link do bootstrap-->
</head>
<body>
    <h1 style="text-align:center">Página Inicial</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/add">Adicionar estudante</a>
            </div>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <th>nome</th>
                    <th>email</th>
                    <th>ação</th>
                </thead>
                <tbody>
                    {% for e in dados %}
                    <tr>
                        <td>{{e[1]}}</td>
                        <td>{{e[2]}}</td>
                        <td>
                            <a href="/editar/{{e[0]}}">Editar</a>
                             | 
                            <a href="/delete/{{e[0]}}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>